.recruiter {
  display: flex;
  justify-content: center;
}

.recruiter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0;
}

.recruiter-container span {
  background-color: rgba(142,36,36, 0.05);
  width: 125px;
  height: 28px;
  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--vermelho1);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;  
}

.recruiter-container h1 {
  color: var(--preto1);
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: -0.02em;

  margin-top: 16px;
}

.recruiter-container p {
  color: var(--cinza1);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;

  margin-top: 20px;
}

.recruiter-container img {
  max-width: 90vw;

  margin-top: 64px;
}